@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html,
body {
	background: #18191a;
}

.table {
	width: 95%;
	margin: auto;
}

.input-text {
	max-width: 650px;
	width: 100%;
	margin: auto;
	padding: 20px;
}

.table-title {
	text-shadow: 5px 5px 0px #000;
	margin: 1rem;
	color: #fce100;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.text-style {
	display: flex;
	align-items: center;
	justify-content: center;

	color: #18191a;
	font-weight: 600;
	font-size: 1.1rem;
	margin: auto;
	text-align: center;
}

.list-group-item {
	margin: 0 auto;
	max-width: 650px;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}

.enviar-btn {
	width: 100px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.enviar-btn:hover {
	transform: translateY(-1px);
}

.enviar:active {
	transform: translateY(1px);
}

.label {
	font-size: 1.1rem;
	color: #fff;
	display: inline-block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}
